network:
  version: 2
  ethernets:
    ens18:
      dhcp4: false
      addresses:
        - {{ desired_host }}/24
      nameservers:
        addresses:
{% for nameserver in nameservers %}
          - {{ nameserver }}
{% endfor %}
        search: []
      routes:
        - to: default
          via: {{ routers | first }}
